@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
    width: 100%;
    height: auto;
    overflow-x: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    width: 100%;
    height: auto;
    font-size: 36px;
}

h4 {
    margin-bottom: 10px;
}

p {
    width: 100%;
    height: auto;
    font-size: 12px;
}

img {
    width: 80%;
    height: auto;
}

input {
    margin: 0;
}

input[type=number] {
    width: 80%;
}

input[type=url] {
    width: 80%;
}

textarea {
    width: 80%;
    height: 40px;
    resize: none;
}

button {
    width: 30px;
    height: 30px;
    margin: 0;
}

.container {
    width: 100%;
    height: auto;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.container .principal-content {
    width: 68%;
    height: auto;
}

.container .config-panel {
    width: 28%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container .config-panel .upper-lower {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

@media all and (max-width: 834px) {
    img {
        width: 100%;
    }

    .container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .container .principal-content {
        width: 96%;
        margin-left: 2%;
    }

    .container .config-panel {
        width: 96%;
        margin-left: 2%;
    }
}